[Unit]
Description=Path watcher to trigger restart for {{APP_NAME}} instance %I

[Path]
# Monitors for the existence of the instance-specific restart trigger file
PathExists={{CSV_DATA_DIR}}/%i.restart
Unit={{APP_NAME}}-restart@%i.service

[Install]
WantedBy=multi-user.target